@model PartyInvites.Models.GuestResponse
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thanks</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h1>Thanks you, @Model.Name!</h1>
        @if (Model.WillAttend == true)
        {
            @:This is great that you are comming.
        }
        else
        {
            @:Sorry to hear that can't make it.
        }
        Click <a asp-action="ListResponses">here</a> to see whi is comming.
    </div>
</body>
</html>
